.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

textarea{
  min-height:50px;
}

.col{
  margin-bottom: 10px;
  margin-top: 10px;

}
.form-group {
    margin-bottom: 10px;

}
.button{
  margin: 15px;
}

.card-header{

}

.card-title{
  padding:12px 20px;
}
